In [1]:
%load_ext dotenv
%dotenv
%load_ext autoreload
%autoreload 1

cannot find .env file

In [2]:
%aimport common
import os
import pandas as pd
from pymongo import MongoClient
from datetime import datetime,timedelta
import croniter
import tqdm,tqdm.notebook

# pd.DataFrame(os.environ.keys())
trello_url = common.TrelloUrl(os.environ["TRELLO_KEY"],os.environ["TRELLO_TOKEN"])
mongo_client = MongoClient(f"""mongodb+srv://nailbiter:{os.environ["MONGO_PASS"]}@cluster0.gaq9o.mongodb.net/logistics?authSource=admin&replicaSet=atlas-1372ty-shard-0&w=majority&readPreference=primary&appname=MongoDB%20Compass&retryWrites=true&ssl=true""")

In [3]:
# %%time
habits_df = pd.DataFrame(mongo_client.logistics["alex.habits"].find())
habits_df.head()

CPU times: user 8.84 ms, sys: 1.97 ms, total: 10.8 ms
Wall time: 483 ms

,_id,category,cronline,delaymin,enabled,info,name,onFailed,checklist,onfailed
0,61512369169fa1f546a17220,logistics,30 14 * * sat,60,True,,40k: yucho to mufg,move:todo,NaN,NaN
1,61512369169fa1f546a17221,logistics,"0 19 * * mon,tue,wed,thu,fri",60,True,,regular eve pull-up habit,remove,NaN,NaN
2,61512369169fa1f546a17222,social,"0 23 * * mon,tue,wed,thu,fri",60,True,,candy check banana,remove,NaN,NaN
3,61512369169fa1f546a17223,social,0 23 * * *,60,True,,check candy put food on floor,remove,NaN,NaN
4,61512369169fa1f546a17224,social,0 23 * * *,60,True,especially on weekends,candy wash head,remove,NaN,NaN

In [16]:
pd.DataFrame(habits_df[habits_df.cronline.str.endswith("* * *")].query("enabled and onFailed!='remove'").name).sort_values(by="name")

                                    name
16                         8 random test
43                                 apple
44               do 3*9_LegParBar/45_abs
45                            do pushups
13                              duolingo
37  face whipe, wash head, faceCream x 2
14                  math reading 2 hours
36                    morning note habit
56                 no jerk day yesterday
55                 no porn day yesterday
30                          pullups 10:1
31                          pullups 10:2
32                          pullups 10:3
33                          pullups 10:4

In [18]:
habits_df.onFailed.unique()

array(['move:todo', 'remove', 'move:FAILED2', 'move:FAILED', nan],
      dtype=object)

In [20]:
habits_df[[pd.isna(x) for x in habits_df.onFailed]]

,_id,category,cronline,delaymin,enabled,info,name,onFailed,checklist,onfailed
76,61512369169fa1f546a1726c,logistics,0 10 * * 0,1440,True,,"change drain net, bath net",NaN,NaN,move:todo

In [17]:
%%time
list_id = "5ba121d9717eb68f1713243a"
trello_df = pd.DataFrame(trello_url(common.TRELLO_TEMPLATES["cards_in_list"],list_id=list_id))
print(len(trello_df))
trello_df.head()

1654
CPU times: user 106 ms, sys: 12.7 ms, total: 119 ms
Wall time: 2.79 s

,id,checkItemStates,closed,dateLastActivity,desc,descData,dueReminder,idBoard,idList,idMembersVoted,...,dueComplete,due,idChecklists,idMembers,labels,shortUrl,start,subscribed,url,cover
0,5b1898efd526e841e4acb3f8,None,False,2020-07-15T01:03:39.512Z,Squads 5x10x155\nStan 3x8x55,None,None,5b9a8552aa36733037ae917e,5ba121d9717eb68f1713243a,[],...,False,None,[5c271a50a89c7b5094c64391],[],"[{'id': '5c36a78df1a04f871b765f6c', 'idBoard':...",https://trello.com/c/V19Ef3Se,None,False,https://trello.com/c/V19Ef3Se/7975-gym,"{'idAttachment': None, 'color': None, 'idUploa..."
1,60d10be14acd6c865b000b66,None,False,2021-06-22T03:00:01.799Z,,None,None,5b9a8552aa36733037ae917e,5ba121d9717eb68f1713243a,[],...,True,2021-06-22T03:00:00.827Z,[],[],[],https://trello.com/c/kLj39yED,None,False,https://trello.com/c/kLj39yED/29647-morning-no...,"{'idAttachment': None, 'color': None, 'idUploa..."
2,60d136108d8b40883f1f62a5,None,False,2021-06-22T19:00:02.187Z,,None,None,5b9a8552aa36733037ae917e,5ba121d9717eb68f1713243a,[],...,True,2021-06-22T19:00:00.579Z,[60d13611484a4d8b5184c731],[],[],https://trello.com/c/pfjPtcAW,None,False,https://trello.com/c/pfjPtcAW/29664-8-random-test,"{'idAttachment': None, 'color': None, 'idUploa..."
3,60d10be09179a6553486a303,None,False,2021-06-22T21:00:01.527Z,,None,None,5b9a8552aa36733037ae917e,5ba121d9717eb68f1713243a,[],...,True,2021-06-22T21:00:00.573Z,[],[],[],https://trello.com/c/VTWDkGKL,None,False,https://trello.com/c/VTWDkGKL/29645-run,"{'idAttachment': None, 'color': None, 'idUploa..."
4,60d10be075a1028098ac88a0,None,False,2021-06-22T21:00:02.740Z,,None,None,5b9a8552aa36733037ae917e,5ba121d9717eb68f1713243a,[],...,True,2021-06-22T21:00:00.554Z,[],[],[],https://trello.com/c/nNZneWGF,None,False,https://trello.com/c/nNZneWGF/29646-pullups-101,"{'idAttachment': None, 'color': None, 'idUploa..."

In [37]:
pd.DataFrame(trello_df.dateLastActivity.apply(lambda s:s[:10]).value_counts()).sort_index()

            dateLastActivity
2020-07-15                 1
2021-06-22                 9
2021-06-23                 8
2021-06-24                 9
2021-06-25                 9
...                      ...
2021-12-01                 9
2021-12-02                 5
2021-12-03                13
2021-12-04                11
2021-12-05                 1

[168 rows x 1 columns]

In [87]:
trello_df[[x.startswith("2021-12-02") for x in trello_df.dateLastActivity]].name

1627         morning note habit
1628    do 3*9_LegParBar/45_abs
1629                        run
1630      no jerk day yesterday
1631      no porn day yesterday
Name: name, dtype: object

In [88]:
DROP_PERIOD_INCLUSIVE = datetime(2021,12,2),datetime(2021,12,9)

In [89]:
relevant_habits_df = habits_df[[
    r.enabled and r.onFailed in ["move:FAILED2","move:FAILED","move:todo"]
    for r
    in habits_df.itertuples()
]].drop(columns=["enabled","checklist","_id","onfailed"]).copy()
print(len(relevant_habits_df))
relevant_habits_df.head()

43

,category,cronline,delaymin,info,name,onFailed
0,logistics,30 14 * * sat,60,,40k: yucho to mufg,move:todo
6,logistics,"0 22 * * wed,sun",120,,change towel,move:todo
13,german,0 10 * * *,840,,duolingo,move:todo
14,NaN,0 21 * * *,120,,math reading 2 hours,move:FAILED2
16,german,0 10 * * *,1080,,8 random test,move:todo

In [103]:
base = DROP_PERIOD_INCLUSIVE[0]-timedelta(days=1)
dates = {}
for name,cronline in (zip(relevant_habits_df.name,relevant_habits_df.cronline)):
    _dates = []
    cntr = croniter.croniter(cronline,base)
    while True:
        date = cntr.get_next(datetime)
    #     print(date)
        if DROP_PERIOD_INCLUSIVE[0].date()<=date.date()<=DROP_PERIOD_INCLUSIVE[1].date():
            _dates.append(date)
        if date.date()>DROP_PERIOD_INCLUSIVE[1].date():
            break
    dates[name] = _dates
# dates
habits_punch_df = pd.concat([pd.DataFrame({"date":v,"name":k}) for k,v in dates.items()])
habits_punch_df

_df = pd.concat([pd.DataFrame({"date":v,"name":k}) for k,v in dates.items()])
_df["date"] = _df.date.apply(lambda dt:dt.date())
assert len(_df)==len(_df.drop_duplicates())

habits_punch_df["date"] = habits_punch_df.date.apply(lambda dt:dt.date())
habits_punch_df

          date                                          name
0   2021-12-04                            40k: yucho to mufg
0   2021-12-05                                  change towel
1   2021-12-08                                  change towel
0   2021-12-02                                      duolingo
1   2021-12-03                                      duolingo
..         ...                                           ...
0   2021-12-03                           write weekly report
0   2021-12-04                                 go to saitama
0   2021-12-06                                   talk to dad
0   2021-12-06  regular check credit card and amazon billing
0   2021-12-04                                   bicycle oil

[147 rows x 2 columns]

In [112]:
_df = trello_df.copy()
_df["date"] = _df.dateLastActivity.apply(lambda s:datetime.strptime(s[:10],"%Y-%m-%d").date())
_df = _df[["date","name","shortUrl"]]
_df = habits_punch_df.set_index(["date","name"]).join(_df.set_index(["date","name"]))
_df = _df[[pd.isna(su) for su in _df.shortUrl]]
_df = _df.reset_index().drop(columns=["shortUrl"])
_df.to_csv("/tmp/d1867e99_c0e1_4bc8_af60_bfa32383cc17.tsv",index=None,sep="\t")
todo_habits_df = _df.copy()
_df

           date                                          name
0    2021-12-04                            40k: yucho to mufg
1    2021-12-05                                  change towel
2    2021-12-08                                  change towel
3    2021-12-02                                      duolingo
4    2021-12-03                                      duolingo
..          ...                                           ...
114  2021-12-03                           write weekly report
115  2021-12-04                                 go to saitama
116  2021-12-06                                   talk to dad
117  2021-12-06  regular check credit card and amazon billing
118  2021-12-04                                   bicycle oil

[119 rows x 2 columns]

In [118]:
_df = todo_habits_df.set_index("name").join(relevant_habits_df.set_index("name")).reset_index()
_df.query("onFailed=='move:FAILED2'")

,name,date,category,cronline,delaymin,info,onFailed
21,confucius 1h: 1,2021-12-03,NaN,15 22 * * Fri,960,,move:FAILED2
22,confucius 1h: 2,2021-12-03,NaN,30 22 * * Fri,960,,move:FAILED2
59,math reading 2 hours,2021-12-02,NaN,0 21 * * *,120,,move:FAILED2
60,math reading 2 hours,2021-12-03,NaN,0 21 * * *,120,,move:FAILED2
61,math reading 2 hours,2021-12-04,NaN,0 21 * * *,120,,move:FAILED2
62,math reading 2 hours,2021-12-05,NaN,0 21 * * *,120,,move:FAILED2
63,math reading 2 hours,2021-12-06,NaN,0 21 * * *,120,,move:FAILED2
64,math reading 2 hours,2021-12-07,NaN,0 21 * * *,120,,move:FAILED2
65,math reading 2 hours,2021-12-08,NaN,0 21 * * *,120,,move:FAILED2
66,math reading 2 hours,2021-12-09,NaN,0 21 * * *,120,,move:FAILED2